<section class="clients">
  <h2>My clients</h2>

  <ul class="clients__list">
    <li>
      <img src="../../img/clinentLogo1-img.svg" alt="">
      <h6>Exceptional Web and Digital Design That Exceeded Expectations</h6>
      <p>Our website redesign and digital transformation went above and beyond our wildest dreams. Dianne's attention to
        detail, creativity, and unmatched design skills resulted in a visually stunning and user-friendly online
        presence that left us in awe.</p>
      <div class="clients__name">
        <img src="../../img/clinentPhoto1-img.png" alt="">
        <div class="clients__name-text">
          <h3>Annette Black</h3>
          <p>Marketing Coordinator</p>
        </div>
      </div>
    </li>
    <hr>
    <li>
      <img src="../../img/clinentLogo2-img.svg" alt="">
      <h6>Art Direction that
        Perfectly Captured Our Essence</h6>
      <p>Collaborating with Dianne on our art direction was an absolute delight. He not only listened to our ideas but
        also infused his own creativity into the mix, resulting in a visual brand identity that flawlessly encapsulated
        our essence.</p>
      <div class="clients__name">
        <img src="../../img/clinentPhoto2-img.png" alt="">
        <div class="clients__name-text">
          <h3>Ralph Edwards</h3>
          <p>Software Development Manager</p>
        </div>
      </div>
    </li>
    <hr>
    <li>
      <img src="../../img/clinentLogo3-img.svg" alt="">
      <h6>Interaction Design Expertise that Delivered Beyond Measure</h6>
      <p>Dianne's expertise in interaction design elevated our app to new heights of user-friendliness and
        intuitiveness. His meticulous approach and imaginative thinking led to a product that far exceeded our
        expectations.</p>
      <div class="clients__name">
        <img src="../../img/clinentPhoto3-img.png" alt="">
        <div class="clients__name-text">
          <h3>Jacob Jones</h3>
          <p>Scrum Master</p>
        </div>
      </div>
    </li>
    <li>
      <img src="../../img/clinentLogo4-img.svg" alt="">
      <h6>Captivating Motion Design that Breathed Life into Our Brand</h6>
      <p>Dianne's mastery of motion design is nothing short of extraordinary. With his stunning animations, he breathed
        life into our brand, leaving our audience thoroughly captivated.</p>
      <div class="clients__name">
        <img src="../../img/clinentPhoto4-img.png" alt="">
        <div class="clients__name-text">
          <h3>Cameron Williamson</h3>
          <p>Software Tester</p>
        </div>
      </div>
    </li>
    <hr>
    <li>
      <img src="../../img/clinentLogo5-img.svg" alt="">
      <h6>Dianne Delivered a Website that Truly Showcases Our Business</h6>
      <p>Dianne's web design prowess has given us a website that not only showcases our business but does so in a highly
        professional and user-friendly manner. We couldn't be more thrilled with the final result.</p>
      <div class="clients__name">
        <img src="../../img/clinentPhoto5-img.png" alt="">
        <div class="clients__name-text">
          <h3>Eleanor Pena</h3>
          <p>Software Developer</p>
        </div>
      </div>
    </li>
    <hr>
    <li>
      <img src="../../img/clinentLogo6-img.svg" alt="">
      <h6>Dianne Delivers a Business-Showcasing Website</h6>
      <p>Dianne's mastery of web design has given our brand a vibrant new lease on life. With precision and creativity,
        she transformed our vision into a website that truly sets us apart from the competition.</p>
      <div class="clients__name">
        <img src="../../img/clinentPhoto6-img.png" alt="">
        <div class="clients__name-text">
          <h3>Courtney Henry</h3>
          <p>Software Development Manager</p>
        </div>
      </div>
    </li>
  </ul>
</section>