<section class="our-team"> 
    <h2>OUr Team</h2>
    <div class="first-our-team-container">
        <div>
            <h3>Tyra Dhillon</h3>
            <p>Creative Director</p>
            <img src="../img/ourteam/photo.png" alt="">
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <h3>Darcel Ballentine</h3>
            <p>Brand Designer</p>
            <img src="../img/ourteam/photo1.png" alt="">
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <h3>Brittni Lando</h3>
            <p>Fashion Designer</p>
            <img src="../img/ourteam/photo2.png" alt="">
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <h3>Roselle Ehrman</h3>
            <p>Graphic Designer</p>
            <img src="../img/ourteam/photo3.png" alt="">
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <h3>Jane Cooper</h3>
            <p>Creative Director</p>
            <img src="../img/ourteam/photo4.png" alt="">
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <h3>Robert Fox</h3>
            <p>Brand Designer</p>
            <img src="../img/ourteam/photo5.png" alt="">
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div class="join-team">
            <h4>Join the team</h4>
            <h2>Desire to influence the future of branding?</h2>
            <button class="find-job-btn">Find Job <img src="../img/right.png" alt=""> </button>
        </div>
    </div>

</section>