<section class="our-team"> 
    <h2>OUr Team</h2>
    <div class="first-our-team-container">
        <div>
            <a href="#"><h3>Tyra Dhillon</h3></a>
            <a href="#"><p>Creative Director</p></a>
            <a href="#"><img src="../img/ourteam/photo.png" alt="" class="our-team-photo"></a>
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <a href="#"><h3>Darcel Ballentine</h3></a>
            <a href="#"><p>Brand Designer</p></a>
            <a href="#"><img src="../img/ourteam/photo1.png" alt="" class="our-team-photo"></a>
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <a href="#"><h3>Brittni Lando</h3></a>
            <a href="#"><p>Fashion Designer</p></a>
            <a href="#"><img src="../img/ourteam/photo2.png" alt="" class="our-team-photo"></a>
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <a href="#"><h3>Roselle Ehrman</h3></a>
            <a href="#"><p>Graphic Designer</p></a>
            <a href="#"><img src="../img/ourteam/photo3.png" alt="" class="our-team-photo" ></a>
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <a href="#"><h3>Jane Cooper</h3></a>
            <a href="#"><p>Creative Director</p></a>
            <a href="#"><img src="../img/ourteam/photo4.png" alt="" class="our-team-photo"></a>
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div>
            <a href="#"><h3>Robert Fox</h3></a>
            <a href="#"><p>Brand Designer</p></a>
            <a href="#"><img src="../img/ourteam/photo5.png" alt="" class="our-team-photo" ></a>
            <div class="our-team-contacts">
                <a href="#"><img src="../img/ourteam_favicon/facebook_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/linkedin_.png" alt=""></a>
                <a href="#"><img src="../img/ourteam_favicon/twitterbird_.png" alt=""></a>
            </div>
        </div>
        <div class="join-team">
            <h4>Join the team</h4>
            <h2>Desire to influence the future of branding?</h2>
            <button class="find-job-btn">Find Job <img src="../img/right.png" alt=""> </button>
        </div>
    </div>

</section>