<section class="selectedwork">
    <h2> Selected work </h2>
    <div class="container">
        <div class="first-block">
            <h2> Trinity </h2>
            <div class="buttons">
                <button class="first-btn"> Digital Design </button>
                <button class="second-btn"> 2022 </button>
                <button class="third-btn">Discover <img src="../img/right.png" alt=""></button>
            </div>
        </div>
        <div class="diva">
            <a href=""><img src="../../img/selectedwork/frame1.png" alt=""></a>
        </div>
        <div class="diva">
            <a href=""><img src="../img/selectedwork/frame2.png" alt=""></a>
        </div>
        <div>
            <a href=""><img src="../img/selectedwork/frame3.png" alt=""></a>
        </div>
        <div>
            <a href=""><img src="../img/selectedwork/frame4.png" alt=""></a>
        </div>
        <div class="last-block">
            <h2> Trinity </h2>
            <div class="buttons">
                <button class="first-btn"> Digital Design </button>
                <button class="second-btn"> 2022 </button>
                <button class="third-btn">Discover <img src="../img/right.png" alt=""></button>
            </div>
        </div>
    </div>
    <button class="allwork-btn">All Work</button>
</section>