@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
  margin: 0;
  padding: 0;
}

html, body {
  font-family: 'Inter', sans-serif;
  color: #011312;
  margin: 0;
  padding: 0;
}

p, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  outline: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}



.whatDo{
  background-image: url(../img/whatDo-img.png);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  & h2{
    margin: 30px 70px 50px 0;
    color: #252525;
    font-size: 147px;
    font-weight: 300;
    text-transform: uppercase;
  }
}

.whatDo__list{
  display: flex;
  flex-direction: column;
  width: 760px;
  margin: 0 70px 70px 111px;

  & li{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  & h6{
    color: #000;
    font-size: 44px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    text-transform: uppercase;
  }

  & h6::before{
    content: attr(data-before);
    color: #000;
    font-size: 44px;
    font-style: normal;
    font-weight: 300;
    line-height: 48px; /* 109.091% */
    text-transform: uppercase;
    margin-right: 10px;
  }

  & p{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; 
  }

  & hr{
    border-top: 1px solid #252525;
    margin: 20px 0;
  }
}


// Client Section
.clients{
  padding: 50px 0;
  border-top: 1px solid #252525;
  border-bottom: 1px solid #252525;
  & h2{
    color: #252525;
    // font-family: Gilroy;
    text-align: center;
    font-size: 212px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: 8.48px;
    text-transform: uppercase;
  }
}

.clients__list{
  display: flex;
  flex-wrap: wrap;
  width: auto;
  justify-content: center;
  margin: 50px 70px;

  & li{
    width: 387px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;

    & h6{
      color: #333;
      font-size: 30px;
      font-style: normal;
      font-weight: 800;
    }

    & p{
      color: #000;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }
  }
}

.clients__name{
  display: flex;
  align-items: center;
  gap: 20px;
  
  & h3{
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
  }

  & p{
    margin-top: 10px;
  }
}

@media screen and (max-width: 1200px) {
  .whatDo{
    background-size: 1228px 795px;
    background-position: top center;
    height: 1830px;

    & h2{
      margin: 860px auto 50px;
      font-size: 127px;
    }
  }

  .whatDo__list{
    width: 708px;
    margin: 0 auto;
  }  


  .clients{
    & h2{
      font-size: 111px;
    }
  }

  .clients__list{
    margin: 30px;

    & li{
      width: auto;
      padding: 40px 10px;
    }
  }
}


@media screen and (min-width: 326px) and (max-width: 768px) {
  .whatDo{
    background-size: 828px 595px;
    background-position: top center;
    height: 1750px;

    & h2{
      margin: 618px auto 30px;
      font-size: 60px;
    }
  }

  .whatDo__list{
    width: auto;
    margin: 0 20px;

    & h6{
      font-size: 30px;
    }

    & h6::before{
      font-size: 30px;
    }
  }  

  .clients{
    & h2{
      font-size: 60px;
    }
  }

  .clients__list{
    margin: 30px;

    & li{
      width: auto;
      padding: 40px 0;
    }
  }
}