*{
    margin: 0;
    padding: 0;
  }
  
  html, body {
    font-family: 'Lato', sans-serif;
    font-family: 'Montserrat', sans-serif;
    color: #011312;
    margin: 0;
    padding: 0;
    background: #F5F3EA;
  }
  
  p, h1, h2, h3, ul{
    margin: 0;
    padding: 0;
  }
  
  a {
    text-decoration: none;
    outline: 0;
  }
  
  ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
  }


// PC 

// Header 

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin: 40px 70px;

    .logo {
        display: flex;
        align-items: center;
        text-align: center;
        
        a > h2 {
            margin-left: 15px;
            color: #000;
            text-align: center;
            font-family: 'Gilroy', sans-serif;
            font-size: 35px;
            font-weight: 800;
            line-height: normal;
            letter-spacing: -0.7px;

            > span {
                text-transform: uppercase;
                color: #000;
                font-family: 'Gilroy-Medium', sans-serif;
                font-size: 35px;
                font-weight: 400;
                line-height: normal;
                letter-spacing: -0.7px;
            }
        }
    }

    .menu > .menu-items > li > a {
        text-transform: uppercase;
        color: #252525;
        text-align: center;
        font-family: Gilroy-SemiBold;
        font-size: 25px;
        font-weight: 400;
        line-height: normal;
    }
}

// header-content 

.header_name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 30px;

    > h1 {
        color: #252525;
        text-align: center;
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 150px;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    > h2 {
        color: #252525;
        font-family: 'Gilroy', sans-serif;
        font-size: 150px;
        font-weight: 300;
        line-height: normal;
        text-transform: capitalize;
    }
}

.header-img > img {
    margin-top: 40px;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

.description {
    display: flex;
    justify-content: space-between;
    margin-left: 70px;
    margin-bottom: 70pxz;
    > p {
        color: #252525;
        font-family: "Gilroy", sans-serif;
        font-size: 56px;
        font-weight: 300;
        line-height: normal;
        width: 1215px;

        > span {
            color: #252525;
            font-family: "Gilroy", sans-serif;
            font-size: 56px;
            font-weight: 800;
            line-height: normal;
        }
    }

    .contacts {
        display: flex;
        width: 476px;
        height: 110px;
        padding: 60px 70px 60px 0px;
        flex-direction: column;
        align-items: flex-end;
        background: #252525;
        margin-bottom: 70px;

        > p {
            color: #FFF;
            text-align: right;
            font-family: 'Gilroy-Medium', sans-serif;
            font-size: 32px;
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: 30px;
        }

        > div > a {
            width: 50px;
            height: 50px;
            padding-left: 20px;
        }
    }

}

.logos {
    > p{
        margin-top: 70px;
        border-top: 1px solid black ;
        width: 100%;
        margin-bottom: 70px;
    }
    .logo-img {
        margin-left: 70px;
        margin-right: 70px;
    }
    .logo-img > a > img {
        margin-left: 30px;
    }
}

// SELECTED WORK 

.selectedwork {
    > h2 {
        color: #252525;
        text-align: center;
        font-family: 'Gilroy', sans-serif;
        font-size: 200px;
        font-weight: 300;
        text-transform: uppercase;
        margin: 0 auto;
    }

    .container {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap; 
        justify-content: center; 
        gap: 0px 40px;

        > div {
            width: 567px;
            height: 567px;
            display: flex;
            flex-direction: column;
            margin-bottom: 70px;

            > h2 {
                color: #000;
                font-family: 'Gilroy-Bold', sans-serif;
                font-size: 40px;
                font-weight: 400;
                text-transform: uppercase;
            }
            
            .buttons {
                .first-btn, .second-btn, .third-btn {
                    border: none;
                    border-radius: 50px;
                    font-family: "Gilroy-Medium", sans-serif;
                    font-size: 18px;
                    font-weight: 400;
                    cursor: pointer;
                }
                .first-btn{
                    background: #FFF;
                    width: 176px;
                    height: 56px;
                    margin: 30px 30px 0px 0px;
                    color: #252525;
                    
                }
                .second-btn {
                    background: #FFF;
                    width: 104px;
                    height: 52px;
                    color: #252525;
                    
                }
    
                .third-btn {
                    background: #252525;
                    width: 162px;
                    height: 53px;
                    color: #FFF;
                    text-transform: capitalize;
                    position: relative;
                    top: 436px;
                    left: 86px;

                    > img {
                        width: 16px;
                        margin-left: 10px;
                    }
                }

            }
        }
    }
    .container img {
        width: 100%; 
    }

    .allwork-btn {
        align-items: center;
        border: none;
        width: 167px;
        height: 57px;
        border-radius: 50px;
        background: #FFF;
        color: #252525;
        font-family: 'Gilroy-Medium', sans-serif;
        font-size: 18px;
        font-weight: 400;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
}